@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
.main{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.main-header{
  font-family: 'Montserrat', sans-serif;
}