@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #07a2df;
  color: whitesmoke;
  flex-direction: column;
}
.main-header{
  font-family: 'Montserrat', sans-serif;
}
.create-form label {
  color: whitesmoke !important;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px !important;
}
.inline-buttons {
  display: flex;
  flex-direction: row;
}
.inline-buttons .btn-1 {
  float: left;
}
.inline-buttons .btn-2 {
  float: right;
}